## <summary>gnumeric policy</summary>
## <desc>
##	<p>
##		Policy for gnumeric.
##	</p>
## </desc>


###############################
## <summary>
##	Transition to gnumeric.
## </summary>
## <param name="domain">
##	<summary>
##	Domain from which to transition.
##	</summary>
## </param>

interface(`gnumeric_domtrans',`
	gen_require(`
		type gnumeric_t, gnumeric_exec_t;
	')

	domtrans_pattern($1, gnumeric_exec_t, gnumeric_t);
')


###############################
## <summary>
##	Allow role to exec gnumeric.
## </summary>
## <param name="role">
##	<summary>
##	Role from which to exec gnumeric.
##	</summary>
## </param>

interface(`gnumeric_role',`
	gen_require(`
		type gnumeric_t;
	')

	gnumeric_domtrans($1);
	role $2 types gnumeric_t;

# Preserve pam_mktemp.
#
	allow $1 gnumeric_t : process noatsecure;
')
