policy_module(gtksourceview, 1.00)


gen_require(`
	type ldconfig_t;
')

########################################
#
# Declarations
#

type gtksourceview_data_home_t;
xdg_data_home_content(gtksourceview_data_home_t)

type gtksourceview_lib_t;
files_type(gtksourceview_lib_t)

type gtksourceview_usr_share_t;
files_type(gtksourceview_usr_share_t)

########################################
#
# ldconfig_t policy
#

allow ldconfig_t gtksourceview_lib_t : lnk_file read;
allow ldconfig_t gtksourceview_lib_t : file { getattr read open };
