policy_module(other_files, 1.0)


gen_require(`
	role staff_r;
	type staff_t;
	role user_r;
	type user_t;
')


########################################
#
# Declarations
#

type dri_etc_t;
files_type(dri_etc_t)

########################################
#
# Local policy
#

dri_etc_role(staff_t, staff_r)
dri_etc_role(user_t, user_r)
