policy_module(pcmanfm, 1.0)


gen_require(`
	type unlabeled_t;
	type user_tmp_t;
')


########################################
#
# Declarations
#

## <desc>
## <p>
## Allow pcmanfm to read all config.
## </p>
## </desc>
gen_tunable(pcmanfm_read_generic_config, false)

## <desc>
## <p>
## Allow pcmanfm to read generic data in HOME.
## </p>
## </desc>
gen_tunable(pcmanfm_read_generic_user_content, true)

## <desc>
## <p>
## Allow pcmanfm to manage user data and settings.
## Disable to prevent pcmanfm from writing to HOME.
## </p>
## </desc>
gen_tunable(pcmanfm_manage_home, false)

## <desc>
## <p>
## Allow pcmanfm to exec apps without dedicated domains.
## </p>
## </desc>
gen_tunable(pcmanfm_exec_generic, false)

## <desc>
## <p>
## Allow pcmanfm to read mounts.
## </p>
## </desc>
gen_tunable(pcmanfm_read_mounts, false)

## <desc>
## <p>
## Allow pcmanfm to read unlabeled files and directories.
## </p>
## </desc>
gen_tunable(pcmanfm_read_unlabeled, false)

## <desc>
## <p>
## Allow pcmanfm to read xattrs
## </p>
## </desc>
gen_tunable(pcmanfm_xattr, false)


attribute pcmanfm_domain;

attribute_role pcmanfm_roles;

type pcmanfm_exec_t;
application_executable_file(pcmanfm_exec_t)

type pcmanfm_config_home_t;
xdg_config_home_content(pcmanfm_config_home_t)

type pcmanfm_data_t;
files_type(pcmanfm_data_t)

type pcmanfm_socket_t;
files_type(pcmanfm_socket_t)
userdom_user_tmp_file(pcmanfm_socket_t)

########################################
#
# Local policy
#

pcmanfm_role_template(staff, staff_t)
pcmanfm_role_template(user, user_t)

# Begin stuff for menu-cached
#
allow pcmanfm_domain user_tmp_t : sock_file write;
#
# End stuff for menu-cached

allow pcmanfm_domain self : fifo_file { read write };
dontaudit pcmanfm_domain self : fifo_file getattr;
dontaudit pcmanfm_domain self : shm create;
fs_dontaudit_getattr_tmpfs(pcmanfm_domain)
allow pcmanfm_domain self : unix_stream_socket connectto;

# For gtkrc and pango modules list.
#
files_read_etc_files(pcmanfm_domain)

files_dontaudit_list_home(pcmanfm_domain)

optional_policy(`

	libfm_read_libfm_config_home(pcmanfm_domain)
')

xdg_config_home_filetrans(pcmanfm_domain, pcmanfm_config_home_t, dir, "pcmanfm")
read_files_pattern(pcmanfm_domain, pcmanfm_config_home_t, pcmanfm_config_home_t)

xserver_read_user_xauth(pcmanfm_domain)

optional_policy(`

	miscfiles_read_libfm_data(pcmanfm_domain)
')

read_files_pattern(pcmanfm_domain, pcmanfm_data_t, pcmanfm_data_t)

xserver_stream_connect(pcmanfm_domain)

userdom_user_tmp_filetrans(pcmanfm_domain, pcmanfm_socket_t, sock_file)
allow pcmanfm_domain pcmanfm_socket_t : sock_file { create_sock_file_perms write_sock_file_perms delete_sock_file_perms };

# For various gui data without unique types.
#
files_read_usr_files(pcmanfm_domain)

miscfiles_read_fonts(pcmanfm_domain)

miscfiles_read_localization(pcmanfm_domain)


tunable_policy(`pcmanfm_read_generic_config',`

	xdg_read_cache_home_files(pcmanfm_domain)
	xdg_read_config_home_files(pcmanfm_domain)
	xdg_read_data_home_files(pcmanfm_domain)
')

tunable_policy(`pcmanfm_read_generic_user_content',`

	userdom_list_user_home_dirs(pcmanfm_domain)
	userdom_list_user_home_content(pcmanfm_domain)
	userdom_read_user_home_content_files(pcmanfm_domain)
	userdom_read_user_home_content_symlinks(pcmanfm_domain)

	xdg_read_downloads_home(pcmanfm_domain)
	xdg_read_music_home(pcmanfm_domain)
	xdg_read_pictures_home(pcmanfm_domain)
	xdg_read_videos_home(pcmanfm_domain)

	xserver_use_user_fonts(pcmanfm_domain)
')

tunable_policy(`pcmanfm_manage_home',`

	userdom_manage_user_home_content_dirs(pcmanfm_domain)
	userdom_manage_user_home_content_files(pcmanfm_domain)
	userdom_manage_user_home_dirs(pcmanfm_domain)

	xdg_manage_cache_home(pcmanfm_domain)
	xdg_manage_config_home(pcmanfm_domain)
	xdg_manage_data_home(pcmanfm_domain)
')

tunable_policy(`pcmanfm_read_mounts',`

	files_list_mnt(pcmanfm_domain)
	files_read_mnt_files(pcmanfm_domain)
	files_read_mnt_symlinks(pcmanfm_domain)
')

tunable_policy(`pcmanfm_read_unlabeled',`

	allow pcmanfm_domain unlabeled_t : dir list_dir_perms;
	allow pcmanfm_domain unlabeled_t : file read_file_perms;
	allow pcmanfm_domain unlabeled_t : lnk_file read_lnk_file_perms;
')

tunable_policy(`pcmanfm_xattr',`

	fs_getattr_xattr_fs(pcmanfm_domain)
')


optional_policy(`

	mplayer_domtrans(pcmanfm_domain)
')

optional_policy(`

# Here be local types defined in local modules.
#
	evince_domtrans(pcmanfm_domain)
	evince_thumbnailer_domtrans(pcmanfm_domain)
	ffmpegthumbnailer_domtrans(pcmanfm_domain)
	gsf_office_thumbnailer_domtrans(pcmanfm_domain)

	userdom_create_user_thumbnails(pcmanfm_domain)
	userdom_delete_user_thumbnails(pcmanfm_domain)
	userdom_list_user_documents(pcmanfm_domain)
	userdom_read_gtk_config(pcmanfm_domain)
	userdom_read_icons_home(pcmanfm_domain)
	userdom_read_user_documents(pcmanfm_domain)
	userdom_read_user_mime(pcmanfm_domain)
	userdom_read_user_thumbnails(pcmanfm_domain)
	userdom_read_user_themes(pcmanfm_domain)
')
