## <summary>pcmanfm policy</summary>
## <desc>
##	<p>
##		Policy for pcmanfm.
##	</p>
## </desc>


###############################
## <summary>
##	Transition to pcmanfm.
## </summary>
## <param name="domain">
##	<summary>
##	Domain from which to transition.
##	</summary>
## </param>
## <param name="role_prefix">
##	<summary>
##	Prefix of the role to use as a domain prefix, e.g. user in user_r.
##	</summary>
## </param>

interface(`pcmanfm_domtrans',`
	gen_require(`
		type pcmanfm_exec_t;
		type $2_pcmanfm_t;
	')

	domtrans_pattern($1, pcmanfm_exec_t, $2_pcmanfm_t);
')


###############################
## <summary>
##	A role template for pcmanfm.
## </summary>
## <param name="role_prefix">
##	<summary>
##	Prefix of the role from which to exec pcmanfm, e.g. user in user_r.
##	</summary>
## </param>
## </param>
## <param name="domain">
##	<summary>
##	Domain of the role from which pcmanfm is execed.
##	</summary>
## </param>

template(`pcmanfm_role_template',`

	gen_require(`

		attribute pcmanfm_domain;
		attribute_role pcmanfm_roles;
		role $1_r;
		type $2;
		type pcmanfm_exec_t;
	')

	########################################
	#
	# Declarations
	#

	type $1_pcmanfm_t, pcmanfm_domain;
	userdom_user_application_domain($1_pcmanfm_t, pcmanfm_exec_t)
	#
	# Required for pam_mktemp.
	#
	allow $2 $1_pcmanfm_t : process noatsecure;

	roleattribute $1_r pcmanfm_roles;
	role pcmanfm_roles types $1_pcmanfm_t;

	########################################
	#
	# Local policy
	#

	domtrans_pattern($2, pcmanfm_exec_t, $1_pcmanfm_t)

	auth_use_nsswitch($1_pcmanfm_t)

	tunable_policy(`pcmanfm_exec_generic',`

		corecmd_bin_domtrans($1_pcmanfm_t, $2)
		corecmd_shell_domtrans($1_pcmanfm_t, $2)
		#
		# Required for pam_mktemp.
		#
		allow $1_pcmanfm_t $2 : process noatsecure;
	')
')
