policy_module(pcmanfm, 1.0)


gen_require(`
	type bin_t;
	type fs_t;
	type mnt_t;
	type unlabeled_t;
	type user_devpts_t;
	type user_home_t;
	type user_tmp_t;
	type xdg_cache_home_t;
	type xdg_config_home_t;
	type xdg_data_home_t;

')


########################################
#
# Declarations
#

## <desc>
## <p>
## Allow pcmanfm to read all config.
## </p>
## </desc>
gen_tunable(pcmanfm_read_generic_config, true)

## <desc>
## <p>
## Allow pcmanfm to read generic data in HOME.
## </p>
## </desc>
gen_tunable(pcmanfm_read_generic_user_content, true)

## <desc>
## <p>
## Allow pcmanfm to manage user data and settings.
## Disable to prevent pcmanfm from writing to HOME.
## </p>
## </desc>
gen_tunable(pcmanfm_manage_home, false)

## <desc>
## <p>
## Allow pcmanfm to exec apps without dedicated domains. Note that
## pam_mktemp may be broken for such apps due to at_secure.
## </p>
## </desc>
gen_tunable(pcmanfm_exec_generic, true)

## <desc>
## <p>
## Allow pcmanfm to read mounts.
## </p>
## </desc>
gen_tunable(pcmanfm_read_mounts, false)

## <desc>
## <p>
## Allow pcmanfm to read unlabeled files and directories.
## </p>
## </desc>
gen_tunable(pcmanfm_read_unlabeled, false)

type pcmanfm_t;
type pcmanfm_exec_t;
userdom_user_application_domain(pcmanfm_t, pcmanfm_exec_t)

type pcmanfm_config_home_t;
files_type(pcmanfm_config_home_t)

type pcmanfm_data_t;
files_type(pcmanfm_data_t)

type pcmanfm_socket_t;
files_type(pcmanfm_socket_t)
userdom_user_tmp_file(pcmanfm_socket_t)

########################################
#
# Local policy
#

# Begin stuff for menu-cached
#
allow pcmanfm_t user_tmp_t : sock_file write;
#
# End stuff for menu-cached

allow pcmanfm_t self : fifo_file { read write };
allow pcmanfm_t self : unix_stream_socket connectto;

allow pcmanfm_t user_devpts_t : chr_file { read write };

auth_use_nsswitch(pcmanfm_t)

files_read_etc_files(pcmanfm_t)

dontaudit pcmanfm_t home_root_t : dir read;

xserver_use_user_fonts(pcmanfm_t)

filetrans_pattern(pcmanfm_t, xdg_config_home_t, pcmanfm_config_home_t, dir)
read_files_pattern(pcmanfm_t, pcmanfm_config_home_t, pcmanfm_config_home_t)

read_files_pattern(pcmanfm_t, pcmanfm_data_t, pcmanfm_data_t)

xserver_read_user_xauth(pcmanfm_t)

dontaudit pcmanfm_t fs_t : filesystem getattr;

xserver_stream_connect(pcmanfm_t)

userdom_user_tmp_filetrans(pcmanfm_t, pcmanfm_socket_t, sock_file)
create_sock_files_pattern(pcmanfm_t, user_tmp_t, pcmanfm_socket_t)
write_sock_files_pattern(pcmanfm_t, user_tmp_t, pcmanfm_socket_t)
delete_sock_files_pattern(pcmanfm_t, user_tmp_t, pcmanfm_socket_t)

files_read_usr_files(pcmanfm_t)

miscfiles_read_fonts(pcmanfm_t)

miscfiles_read_localization(pcmanfm_t)


tunable_policy(`pcmanfm_read_generic_config',`

	xdg_read_cache_home_files(pcmanfm_t)
	xdg_read_config_home_files(pcmanfm_t)
	xdg_read_data_home_files(pcmanfm_t)
')

tunable_policy(`pcmanfm_read_generic_user_content',`

	userdom_list_user_home_dirs(pcmanfm_t)
	userdom_read_user_home_content_files(pcmanfm_t)
	userdom_read_user_home_content_symlinks(pcmanfm_t)

	xdg_read_downloads_home(pcmanfm_t)
	xdg_read_music_home(pcmanfm_t)
	xdg_read_pictures_home(pcmanfm_t)
	xdg_read_videos_home(pcmanfm_t)
')

tunable_policy(`pcmanfm_manage_home',`

	userdom_manage_user_home_content_dirs(pcmanfm_t)
	userdom_manage_user_home_content_files(pcmanfm_t)
	userdom_manage_user_home_dirs(pcmanfm_t)

	xdg_manage_cache_home(pcmanfm_t)
	xdg_manage_config_home(pcmanfm_t)
	xdg_manage_data_home(pcmanfm_t)
')

tunable_policy(`pcmanfm_exec_generic',`

	corecmd_search_bin(pcmanfm_t)
	can_exec(pcmanfm_t, bin_t)
')


tunable_policy(`pcmanfm_read_mounts',`

	allow pcmanfm_t mnt_t : dir list_dir_perms;
	allow pcmanfm_t mnt_t : file read_file_perms;
')


tunable_policy(`pcmanfm_read_unlabeled',`

	allow pcmanfm_t unlabeled_t : dir list_dir_perms;
	allow pcmanfm_t unlabeled_t : file read_file_perms;
	allow pcmanfm_t unlabeled_t : lnk_file read_lnk_file_perms;
')

optional_policy(`

	mplayer_domtrans(pcmanfm_t)
')

optional_policy(`

# Here be local types defined in local modules.
#
	evince_domtrans(pcmanfm_t)
	evince_thumbnailer_domtrans(pcmanfm_t)
	ffmpegthumbnailer_domtrans(pcmanfm_t)
	gsf_office_thumbnailer_domtrans(pcmanfm_t)

	userdom_create_user_thumbnails(pcmanfm_t)
	userdom_delete_user_thumbnails(pcmanfm_t)
	userdom_list_user_documents(pcmanfm_t)
	userdom_read_gtk_config(pcmanfm_t)
	userdom_read_user_documents(pcmanfm_t)
	userdom_read_user_mime(pcmanfm_t)
	userdom_read_user_thumbnails(pcmanfm_t)
	userdom_read_user_themes(pcmanfm_t)
')
