policy_module(pluma, 1.00)


gen_require(`
	type staff_t;
	type user_t;
	type user_devpts_t;
	type user_tty_device_t;
	')


########################################
#
# Declarations
#

attribute pluma_domain;
attribute pluma_unsandboxed_domain;
attribute pluma_role_domain;

type pluma_exec_t;
application_executable_file(pluma_exec_t)

type pluma_config_home_t;
xdg_config_home_content(pluma_config_home_t)

type pluma_usr_lib_t;
files_type(pluma_usr_lib_t)

type pluma_usr_share_t;
files_type(pluma_usr_share_t)

########################################
#
# Local policy
#

pluma_role_template( staff, staff_t, staff_r )
pluma_role_template( user, user_t, user_r )

########################################
#
# pluma_domain policy
#

dontaudit pluma_domain self : shm { create unix_read unix_write read write destroy };
fs_dontaudit_rw_tmpfs_files(pluma_domain)

fs_dontaudit_getattr_xattr_fs(pluma_domain)

allow pluma_domain { user_devpts_t user_tty_device_t } : chr_file { read write };

optional_policy(`

	miscfiles_read_gtk_etc(pluma_domain)
	miscfiles_read_pango_etc(pluma_domain)
')

files_dontaudit_read_etc_files(pluma_domain)

pluma_read_config_home(pluma_domain)

kernel_dontaudit_read_system_state(pluma_domain)

# For various gui data without private types
#
files_read_usr_files(pluma_domain)
miscfiles_read_fonts(pluma_domain)

optional_policy(`

	gtksourceview_domain(pluma_domain)
')

pluma_mmap(pluma_domain)
allow pluma_domain pluma_usr_lib_t : dir list_dir_perms;
miscfiles_read_localization(pluma_domain)
pluma_read_usr_share(pluma_domain)

########################################
#
# pluma_unsandboxed_domain policy
#

pluma_manage_config_home(pluma_unsandboxed_domain)

xserver_use_user_fonts(pluma_unsandboxed_domain)

optional_policy(`

	userdom_read_icons_home(pluma_unsandboxed_domain)

	gtksourceview_read_data_home(pluma_unsandboxed_domain)
	userdom_read_user_mime(pluma_unsandboxed_domain)

	userdom_read_user_themes(pluma_unsandboxed_domain)
')

########################################
#
# pluma_role_domain policy
#

optional_policy(`

	gtksourceview_create_data_home(pluma_role_domain)
	gtksourceview_read_data_home(pluma_role_domain)
	gtksourceview_write_data_home(pluma_role_domain)

	xdg_list_documents_home(pluma_role_domain)
	xdg_create_documents_home(pluma_role_domain)
	xdg_read_documents_home(pluma_role_domain)
	xdg_write_documents_home(pluma_role_domain)
')

xserver_read_user_xauth(pluma_role_domain)
