## <summary>user files</summary>
## <desc>
##	<p>
##		A (vain) attempt at making *generic_user_content and
##		*generic_user_settings redundant.
##		IOW, xkcd.com/1200
##	</p>
## </desc>


###############################
## <summary>
##	Allow domain to read user dconf config.
## </summary>
## <param name="domain">
##	<summary>
##	Domain from which to read.
##	</summary
## </param>

interface(`userdom_read_dconf_config_home',`
	gen_require(`
		type dconf_config_home_t;
		type xdg_config_home_t;
	')

	userdom_search_user_home_dirs($1)
	allow $1 xdg_config_home_t : dir search_dir_perms;
	read_files_pattern($1, dconf_config_home_t, dconf_config_home_t)
')


###############################
## <summary>
##	Allow role to read user dconf config.
## </summary>
## <param name="role">
##	<summary>
##	Role from which to read.
##	</summary
## </param>

interface(`user_read_dconf_role',`
	gen_require(`
		type dconf_config_home_t;
	')

	userdom_read_dconf_config_home($1)
	role $2 types dconf_config_home_t;
')


###############################
## <summary>
##	Read desktop files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain from which to read.
## </param>

interface(`xdg_read_desktop_home',`
	gen_require(`
		type xdg_desktop_home_t;
	')

	userdom_search_user_home_dirs($1)
	allow $1 xdg_desktop_home_t : dir list_dir_perms;
	allow $1 xdg_desktop_home_t : file read_file_perms:
')


###############################
## <summary>
##	Allow domain to read user dri config.
## </summary>
## <param name="domain">
##	<summary>
##	Domain from which to read.
##	</summary
## </param>

interface(`userdom_read_dri_home',`
	gen_require(`
		type dri_home_t;
		type user_home_dir_t;
	')

	userdom_search_user_home_dirs($1)
	read_files_pattern($1, user_home_dir_t, dri_home_t)
')


###############################
## <summary>
##	Allow role to read user dri config.
## </summary>
## <param name="role">
##	<summary>
##	Role from which to read.
##	</summary
## </param>

interface(`user_dri_role',`
	gen_require(`
		type dri_home_t;
	')

	userdom_read_dri_home($1)
	role $2 types dri_home_t;
')


###############################
## <summary>
##	Allow domain to list user documents.
## </summary>
## <param name="domain">
##	<summary>
##	Domain from which to list.
##	</summary
## </param>

interface(`userdom_list_user_documents',`
	gen_require(`
		type home_root_t;
		type user_home_dir_t;
		type xdg_documents_home_t;
	')

	search_dirs_pattern($1, home_root_t, user_home_dir_t)
	list_dirs_pattern($1, user_home_dir_t, xdg_documents_home_t)
')


###############################
## <summary>
##	Allow role to list user documents.
## </summary>
## <param name="role">
##	<summary>
##	Role from which to list.
##	</summary
## </param>

interface(`user_list_documents_role',`
	gen_require(`
		type xdg_documents_home_t;
	')

	userdom_list_xdg_documents_home($1)
	role $2 types xdg_documents_home_t;
')


###############################
## <summary>
##	Allow domain to read user documents.
## </summary>
## <param name="domain">
##	<summary>
##	Domain from which to read.
##	</summary
## </param>

interface(`userdom_read_user_documents',`
	gen_require(`
		type home_root_t;
		type user_home_dir_t;
		type xdg_documents_home_t;
	')

	search_dirs_pattern($1, home_root_t, user_home_dir_t)
	read_files_pattern($1, xdg_documents_home_t, xdg_documents_home_t)
')


###############################
## <summary>
##	Allow role to read user documents.
## </summary>
## <param name="role">
##	<summary>
##	Role from which to read.
##	</summary
## </param>

interface(`user_read_documents_role',`
	gen_require(`
		type xdg_documents_home_t;
	')

	userdom_read_xdg_documents_home($1)
	role $2 types xdg_documents_home_t;
')


###############################
## <summary>
##	Allow domain to create user documents.
## </summary>
## <param name="domain">
##	<summary>
##	Domain from which to create.
##	</summary
## </param>

interface(`xdg_create_documents_home',`
	gen_require(`
		type xdg_documents_home_t;
	')

	userdom_search_user_home_dirs($1)
	create_files_pattern($1, xdg_documents_home_t, xdg_documents_home_t)
')


###############################
## <summary>
##	Allow role to create user documents.
## </summary>
## <param name="role">
##	<summary>
##	Role from which to create.
##	</summary
## </param>

interface(`xdg_create_documents_role',`
	gen_require(`
		type xdg_documents_home_t;
	')

	xdg_create_documents_home($1)
	role $2 types xdg_documents_home_t;
')


###############################
## <summary>
##	Allow domain to read user mime definitions.
## </summary>
## <param name="domain">
##	<summary>
##	Domain from which to read.
##	</summary
## </param>

interface(`userdom_read_user_mime',`
	gen_require(`
		type home_root_t;
		type user_home_dir_t;
		type user_mime_t;
		type xdg_data_home_t;
	')

	search_dirs_pattern($1, home_root_t, user_home_dir_t)
	search_dirs_pattern($1, user_home_dir_t, xdg_data_home_t)
	read_files_pattern($1, user_mime_t, user_mime_t)
')


###############################
## <summary>
##	Allow role to read user mime definitions.
## </summary>
## <param name="role">
##	<summary>
##	Role from which to read.
##	</summary
## </param>

interface(`user_mime_role',`
	gen_require(`
		type user_mime_t;
	')

	userdom_read_user_mime($1)
	role $2 types user_mime_t;
')


###############################
## <summary>
##	Allow domain to read user gtk config
## </summary>
## <param name="domain">
##	<summary>
##	Domain from which to read
##	</summary
## </param>

interface(`userdom_read_gtk_config',`
	gen_require(`
		type gtk_config_home_t;
		type home_root_t;
		type user_home_dir_t;
		type xdg_config_home_t;
	')

	search_dirs_pattern($1, home_root_t, user_home_dir_t)
	search_dirs_pattern($1, user_home_dir_t, xdg_config_home_t)
	read_files_pattern($1, gtk_config_home_t, gtk_config_home_t)
	read_lnk_files_pattern($1, gtk_config_home_t, gtk_config_home_t)
')


###############################
## <summary>
##	Suppress logs of denied gtk config listings.
## </summary>
## <param name="domain">
##	<summary>
##	Domain from which to suppress.
##	</summary
## </param>

interface(`userdom_dontaudit_list_gtk_config',`
	gen_require(`
		type gtk_config_home_t;
		type home_root_t;
		type user_home_dir_t;
		type xdg_config_home_t;
	')

	dontaudit $1 gtk_config_home_t : dir list_dir_perms;
')


###############################
## <summary>
##	Allow domain to read user icons
## </summary>
## <param name="domain">
##	<summary>
##	Domain from which to read.
##	</summary
## </param>

interface(`userdom_read_icons_home',`
	gen_require(`
		type home_root_t;
		type user_home_dir_t;
		type icons_home_t;
	')

	search_dirs_pattern($1, home_root_t, user_home_dir_t)
	list_dirs_pattern($1, user_home_dir_t, icons_home_t)
	read_files_pattern($1, icons_home_t, icons_home_t)
	read_lnk_files_pattern($1, icons_home_t, icons_home_t)
')


###############################
## <summary>
##	Suppress logs of denied user icon dir searches.
## </summary>
## <param name="domain">
##	<summary>
##	Domain from which to suppress
##	</summary
## </param>

interface(`userdom_dontaudit_search_icons_home',`
	gen_require(`
		type icons_home_t;
	')

	dontaudit $1 icons_home_t : dir search_dir_perms;
')


###############################
## <summary>
##	Allow role to read user icons.
## </summary>
## <param name="role">
##	<summary>
##	Role from which to read.
##	</summary
## </param>

interface(`user_icons_role',`
	gen_require(`
		type icons_home_t;
	')

	userdom_read_icons_home($1)
	role $2 types icons_home_t;
')


###############################
## <summary>
##	Allow domain to read user openal config.
## </summary>
## <param name="domain">
##	<summary>
##	Domain from which to read.
##	</summary
## </param>

interface(`userdom_read_openal_home',`
	gen_require(`
		type openal_home_t;
		type user_home_dir_t;
	')

	userdom_search_user_home_dirs($1)
	read_files_pattern($1, user_home_dir_t, openal_home_t)
')


###############################
## <summary>
##	Allow role to read user openal config.
## </summary>
## <param name="role">
##	<summary>
##	Role from which to read.
##	</summary
## </param>

interface(`user_openal_role',`
	gen_require(`
		type openal_home_t;
	')

	userdom_read_openal_home($1)
	role $2 types openal_home_t;
')


###############################
## <summary>
##	Allow domain to read user qt config.
## </summary>
## <param name="domain">
##	<summary>
##	Domain from which to read.
##	</summary
## </param>

interface(`userdom_read_qt_config',`
	gen_require(`
		type home_root_t;
		type qt_config_home_t;
		type user_home_dir_t;
		type xdg_config_home_t;
	')

	search_dirs_pattern($1, home_root_t, user_home_dir_t)
	read_files_pattern($1, xdg_config_home_t, qt_config_home_t)
	read_lnk_files_pattern($1, xdg_config_home_t, qt_config_home_t)
')


###############################
## <summary>
##	Allow domain to read user spell dictionaries
## </summary>
## <param name="domain">
##	<summary>
##	Domain from which to read
##	</summary
## </param>

interface(`userdom_read_user_spelldict',`
	gen_require(`
		type home_root_t;
		type user_home_dir_t;
		type user_spelldict_t;
		type xdg_config_home_t;
	')

	search_dirs_pattern($1, home_root_t, user_home_dir_t)
	search_dirs_pattern($1, user_home_dir_t, xdg_config_home_t)
	read_files_pattern($1, user_spelldict_t, user_spelldict_t)
')


###############################
## <summary>
##	Allow domain to append to spell dictionaries.
## </summary>
## <param name="domain">
##	<summary>
##	Domain from which to read.
##	</summary
## </param>

interface(`userdom_append_user_spelldict',`
	gen_require(`
		type home_root_t;
		type user_home_dir_t;
		type user_spelldict_t;
		type xdg_config_home_t;
	')

	search_dirs_pattern($1, home_root_t, user_home_dir_t)
	search_dirs_pattern($1, user_home_dir_t, xdg_config_home_t)
	append_files_pattern($1, user_spelldict_t, user_spelldict_t)
')


###############################
## <summary>
##	Allow domain to read user themes.
## </summary>
## <param name="domain">
##	<summary>
##	Domain from which to read.
##	</summary
## </param>

interface(`userdom_read_user_themes',`
	gen_require(`
		type home_root_t;
		type user_home_dir_t;
		type themes_home_t;
	')

	search_dirs_pattern($1, home_root_t, user_home_dir_t)
	read_files_pattern($1, themes_home_t, themes_home_t)
	read_lnk_files_pattern($1, themes_home_t, themes_home_t)
')


###############################
## <summary>
##	Suppress logs of denied user theme dir searches.
## </summary>
## <param name="domain">
##	<summary>
##	Domain from which to suppress.
##	</summary
## </param>

interface(`userdom_dontaudit_search_user_themes',`
	gen_require(`
		type themes_home_t;
	')

	dontaudit $1 themes_home_t : dir search_dir_perms;
')


###############################
## <summary>
##	Allow role to read user themes.
## </summary>
## <param name="role">
##	<summary>
##	Role from which to read.
##	</summary
## </param>

interface(`user_themes_role',`
	gen_require(`
		type themes_home_t;
	')

	userdom_read_user_themes($1)
	role $2 types themes_home_t;
')


###############################
## <summary>
##	Allow domain to read user thumbnails.
## </summary>
## <param name="domain">
##	<summary>
##	Domain from which to read
##	</summary
## </param>

interface(`userdom_read_user_thumbnails',`
	gen_require(`
		type home_root_t;
		type user_home_dir_t;
		type user_thumbnails_t;
	')

	search_dirs_pattern($1, home_root_t, user_home_dir_t)
	read_files_pattern($1, user_thumbnails_t, user_thumbnails_t)
	read_lnk_files_pattern($1, user_thumbnails_t, user_thumbnails_t)
')


###############################
## <summary>
##	Allow role to read user thumbnails.
## </summary>
## <param name="role">
##	<summary>
##	Role from which to read.
##	</summary
## </param>

interface(`user_thumbnails_role',`
	gen_require(`
		type user_thumbnails_t;
	')

	userdom_read_user_thumbnails($1)
	role $2 types user_thumbnails_t;
')


###############################
## <summary>
##	Allow domain to create user thumbnails.
## </summary>
## <param name="domain">
##	<summary>
##	Domain from which to create.
##	</summary
## </param>

interface(`userdom_create_user_thumbnails',`
	gen_require(`
		type home_root_t;
		type user_home_dir_t;
		type user_thumbnails_t;
	')

	search_dirs_pattern($1, home_root_t, user_home_dir_t)
	create_dirs_pattern($1, user_thumbnails_t, user_thumbnails_t)
	create_files_pattern($1, user_thumbnails_t, user_thumbnails_t)
	rename_files_pattern($1, user_thumbnails_t, user_thumbnails_t)
	write_files_pattern($1, user_thumbnails_t, user_thumbnails_t)
	read_lnk_files_pattern($1, user_thumbnails_t, user_thumbnails_t)
')


###############################
## <summary>
##	Allow domain to delete user thumbnails.
## </summary>
## <param name="domain">
##	<summary>
##	Domain from which to delete.
##	</summary
## </param>

interface(`userdom_delete_user_thumbnails',`
	gen_require(`
		type home_root_t;
		type user_home_dir_t;
		type user_thumbnails_t;
	')

	search_dirs_pattern($1, home_root_t, user_home_dir_t)
	delete_files_pattern($1, user_thumbnails_t, user_thumbnails_t)
')



###############################
## <summary>
##	Allow domain to read user videos.
## </summary>
## <param name="domain">
##	<summary>
##	Domain from which to read.
##	</summary
## </param>

interface(`userdom_read_user_videos',`
	gen_require(`
		type home_root_t;
		type user_home_dir_t;
		type xdg_videos_home_t;
	')

	search_dirs_pattern($1, home_root_t, user_home_dir_t)
	read_files_pattern($1, xdg_videos_home_t, xdg_videos_home_t)
')


###############################
## <summary>
##	Allow domain to create user videos.
## </summary>
## <param name="domain">
##	<summary>
##	Domain from which to create.
##	</summary
## </param>

interface(`userdom_create_user_videos',`
	gen_require(`
		type home_root_t;
		type user_home_dir_t;
		type xdg_videos_home_t;
	')

	search_dirs_pattern($1, home_root_t, user_home_dir_t)
	create_files_pattern($1, xdg_videos_home_t, xdg_videos_home_t)
	write_files_pattern($1, xdg_videos_home_t, xdg_videos_home_t)
	setattr_files_pattern($1, xdg_videos_home_t, xdg_videos_home_t)
')


###############################
## <summary>
##	Allow domain to rename user videos.
## </summary>
## <param name="domain">
##	<summary>
##	Domain from which to rename.
##	</summary
## </param>

interface(`userdom_rename_user_videos',`
	gen_require(`
		type home_root_t;
		type user_home_dir_t;
		type xdg_videos_home_t;
	')

	search_dirs_pattern($1, home_root_t, user_home_dir_t)
	rename_files_pattern($1, xdg_videos_home_t, xdg_videos_home_t)
')
