policy_module(user_files, 1.0)


gen_require(`
	type xdg_documents_home_t;
	type xdg_downloads_home_t;
	type xdg_videos_home_t;

	role staff_r;
	type staff_t;
	role user_r;
	type user_t;
')


type applications_data_home_t;
xdg_data_home_content(applications_data_home_t)

type dconf_config_home_t;
xdg_config_home_content(dconf_config_home_t)

type dri_home_t;
userdom_user_home_content(dri_home_t)

type gtk_config_home_t;
xdg_config_home_content(gtk_config_home_t)

type icons_home_t;
userdom_user_home_content(icons_home_t)

type qt_config_home_t;
xdg_config_home_content(qt_config_home_t)

type user_mime_t;
xdg_data_home_content(user_mime_t)

type openal_home_t;
userdom_user_home_content(openal_home_t)

type user_spelldict_t;
xdg_config_home_content(user_spelldict_t)

type themes_home_t;
userdom_user_home_content(themes_home_t)

type user_thumbnails_t;
userdom_user_home_content(user_thumbnails_t)

type xdg_desktop_home_t;
userdom_user_home_content(xdg_desktop_home_t)

user_read_dconf_role(staff_t, staff_r)
user_read_dconf_role(user_t, user_r)

user_dri_role(staff_t, staff_r)
user_dri_role(user_t, user_r)

user_icons_role(staff_t, staff_r)
user_icons_role(user_t, user_r)
