policy_module(user_files, 1.0)


gen_require(`
	type xdg_documents_home_t;
	type xdg_downloads_home_t;
	type xdg_videos_home_t;

	role staff_r;
	type staff_t;
	role user_r;
	type user_t;
')


type dri_home_t;
userdom_user_home_content(dri_home_t)

type gtk_config_home_t;
files_type(gtk_config_home_t)

type icons_home_t;
files_type(icons_home_t)

type qt_config_home_t;
files_type(qt_config_home_t)

type user_mime_t;
files_type(user_mime_t)

type openal_home_t;
userdom_user_home_content(openal_home_t)

type user_spelldict_t;
files_type(user_spelldict_t)

type themes_home_t;
files_type(themes_home_t)

type user_thumbnails_t;
files_type(user_thumbnails_t)


user_dri_role(staff_t, staff_r)
user_dri_role(user_t, user_r)
