policy_module(xephyr, 1.00)


gen_require(`
	type bin_t;
	type shell_exec_t;
	type user_devpts_t;
	type xdm_tmp_t;
	type xserver_t;
')

########################################
#
# Declarations
#

## <desc>
##	<p>
##	Allow xephyr to create and use shared memory.
##	xshm is needed for e.g. qt4 raster engine.
##	</p>
## </desc>
gen_tunable(xephyr_xshm, false)

attribute xephyr_domain;

type xephyr_t, xephyr_domain;
type xephyr_exec_t;
userdom_user_application_domain(xephyr_t, xephyr_exec_t)

type xephyr_tmp_t;
userdom_user_tmp_file(xephyr_tmp_t)

type xephyr_tmpfs_t;
userdom_user_tmpfs_file(xephyr_tmpfs_t)

########################################
#
# xephyr_domain local policy
#

allow xephyr_domain self : fifo_file rw_fifo_file_perms;

corecmd_search_bin(xephyr_domain)
corecmd_read_bin_symlinks(xephyr_domain)
can_exec(xephyr_domain, bin_t)
can_exec(xephyr_domain, shell_exec_t)

xserver_read_user_xauth(xephyr_domain);

xserver_stream_connect(xephyr_domain);

miscfiles_read_fonts(xephyr_domain);

miscfiles_read_localization(xephyr_domain);

files_read_usr_files(xephyr_domain)

########################################
#
# xephyr_t local policy
#

files_tmp_filetrans(xephyr_t, xephyr_tmp_t, file)
allow xephyr_t xephyr_tmp_t : file manage_file_perms;

filetrans_pattern(xephyr_t, xdm_tmp_t, xephyr_tmp_t, sock_file)
allow xephyr_t xephyr_tmp_t : sock_file { create_sock_file_perms delete_sock_file_perms };


tunable_policy(`xephyr_xshm',`
	allow xephyr_domain self : shm create_shm_perms;
	fs_tmpfs_filetrans(xephyr_t, xephyr_tmpfs_t, file)
	allow { xephyr_t xserver_t } xephyr_tmpfs_t : file { read write };
	allow xserver_t xephyr_t : shm { unix_read read getattr associate unix_write write };
')
