policy_module(xephyr, 1.00)


gen_require(`
	type bin_t;
	type fonts_t;
	type shell_exec_t;
	type tmp_t;
	type tmpfs_t;
	type user_devpts_t;
	type usr_t;
	type var_lib_t;
	type xdm_tmp_t;
	type xserver_t;
')


########################################
#
# Declarations
#

## <desc>
## <p>
## Allow xephyr to create and use shared memory.
## xshm is needed for e.g. qt4 raster engine.
## </p>
## </desc>
gen_tunable(xephyr_shm, true)

type xephyr_t;
type xephyr_exec_t;
userdom_user_application_domain(xephyr_t, xephyr_exec_t)

type xephyr_tmp_t;
userdom_user_tmp_file(xephyr_tmp_t)


########################################
#
# Local policy
#

allow xephyr_t self : fifo_file rw_fifo_file_perms;

corecmd_search_bin(xephyr_t)
corecmd_read_bin_symlinks(xephyr_t)
can_exec(xephyr_t, bin_t)
can_exec(xephyr_t, shell_exec_t)

allow xephyr_t user_devpts_t : chr_file rw_chr_file_perms;

xserver_read_user_xauth(xephyr_t);

filetrans_pattern(xephyr_t, tmp_t, xephyr_tmp_t, file)
manage_files_pattern(xephyr_t, tmp_t, xephyr_tmp_t)

filetrans_pattern(xephyr_t, xdm_tmp_t, xephyr_tmp_t, sock_file)
create_sock_files_pattern(xephyr_t, xdm_tmp_t, xephyr_tmp_t)
delete_sock_files_pattern(xephyr_t, xdm_tmp_t, xephyr_tmp_t)

xserver_stream_connect(xephyr_t);

miscfiles_read_fonts(xephyr_t);

miscfiles_read_localization(xephyr_t);

allow xephyr_t usr_t : file read_file_perms;

tunable_policy(`xephyr_shm',`
	allow xephyr_t self : shm create_shm_perms;
	allow xephyr_t tmpfs_t : file { read write };
	allow xserver_t xephyr_t : shm { unix_read read getattr associate unix_write write };
')
