policy_module(zad, 1.0)


gen_require(`
	type dri_device_t;
	type proc_t;
	type shell_exec_t;
	type sysfs_t;
	type user_devpts_t;

	type staff_t;
	type user_t;
')


########################################
#
# Declarations
#

## <desc>
##	<p>
##	Allow pyrogenesis to execute writable pages.
##	</p>
##	<p>
##	This speeds up random map generation considerably.
##	</p>
## </desc>
gen_tunable(zad_execmem, false)

type zad_t;
type zad_exec_t;
userdom_user_application_domain(zad_t, zad_exec_t)

type pyrogenesis_exec_t;
files_type(pyrogenesis_exec_t);

type zad_usr_share_t;
files_type(zad_usr_share_t);

type zad_cache_home_t;
xdg_cache_home_content(zad_cache_home_t)

type zad_config_home_t;
xdg_config_home_content(zad_config_home_t)

type zad_alsa_shm_t;
files_tmpfs_file(zad_alsa_shm_t)

type zad_data_home_t;
xdg_data_home_content(zad_data_home_t)

########################################
#
# Local policy
#

zad_role(staff_t, staff_r)
zad_role(user_t, user_r)

########################################
#
# zad_t policy
#

xserver_object_types_template(zad)
xserver_common_x_domain_template(zad, zad_t)

allow zad_t self : process { getsched setsched signal };
allow zad_t self : shm create_sem_perms;

corecmd_search_bin(zad_t)
allow zad_t shell_exec_t : file read_file_perms;

allow zad_t dri_device_t : chr_file rw_chr_file_perms;
allow zad_t user_devpts_t : chr_file { read write };

optional_policy(`

	miscfiles_read_dri_etc(zad_t)
')

xdg_cache_home_filetrans(zad_t, zad_cache_home_t, dir, "0ad")
create_dirs_pattern(zad_t, zad_cache_home_t, zad_cache_home_t)
manage_files_pattern(zad_t, zad_cache_home_t, zad_cache_home_t)

xdg_config_home_filetrans(zad_t, zad_config_home_t, dir, "0ad")
create_dirs_pattern(zad_t, zad_config_home_t, zad_config_home_t)
manage_files_pattern(zad_t, zad_config_home_t, zad_config_home_t)

optional_policy(`

	userdom_read_dri_home(zad_t)
	userdom_dontaudit_search_icons_home(zad_t)
	lxde_append_log(zad_t)
	userdom_read_openal_home(zad_t)
')

xdg_data_home_filetrans(zad_t, zad_data_home_t, dir, "0ad")
create_dirs_pattern(zad_t, zad_data_home_t, zad_data_home_t)
manage_files_pattern(zad_t, zad_data_home_t, zad_data_home_t)

optional_policy(`

	lxde_append_log(zad_t)
	userdom_read_openal_home(zad_t)
')

xserver_read_user_xauth(zad_t)

# pyrogenesis segfaults if unable to find processors.
#
allow zad_t proc_t : file read_file_perms;
allow zad_t sysfs_t : dir list_dir_perms;

xserver_stream_connect(zad_t)

can_exec(zad_t, pyrogenesis_exec_t)

miscfiles_read_localization(zad_t)

# pyrogenesis segfaults if unable to list zad_usr_share_t
#
list_dirs_pattern(zad_t, zad_usr_share_t, zad_usr_share_t)
allow zad_t zad_usr_share_t : file read_file_perms;

#
# audio stuff
#
dev_read_sound(zad_t)
dev_write_sound(zad_t)

auth_use_nsswitch(zad_t)

alsa_domain(zad_t, zad_alsa_shm_t)

fs_tmpfs_filetrans(zad_t, zad_alsa_shm_t, file)

########################################
#
# Tunable policy
#

tunable_policy(`zad_execmem',`
	
	allow zad_t self : process execmem;
')
